{% extends "base.html" %}
{% load static %}
{% block body %}


<div>
  <nav class="nav nav--active" style="margin-right: 130px;   height: 100%;">
    <ul style="margin: auto;" class="nav__list">
      <li class="nav__item">
        <a href="galeri/kreatif/25.htm" class="nav__link" onclick="myFunction()">
          <p class="nav__label">PR</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="galeri/dijital/26.htm" class="nav__link">
          <p class="nav__label">Reklam</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="galeri/medya/27.htm" class="nav__link">
          <p class="nav__label">Medya</p>
        </a>
      </li>
      <li class="nav__item">
        <a href="galeri/mecra/28" class="nav__link">
          <p class="nav__label">Baskı</p>
        </a>
      </li>
    </ul>
  </nav>
</div>
<div class="page">
  <section class="section section1  section--active color1" data-letter="a">

    <div style="width: 100%;" class="row halklailiskiler">
      <div class="col-lg-12 article1">
        <div class="col-md-1"></div>
        <!-- <a href="galeri/kreatif/25.htm"> -->
        <article class="section__wrapper col-md-8" style="padding: 20px;">
          <h1 class="section__title" style="color:white;"> Stratejik </h1>
          <h1 class="section__title" style="color:black;">HALKLA İLİŞKİLER </h1>
          <p style="color: white;font-weight: 500;font-size: 18px;">Rekabetin elzem olduğu bu çağımızda
            istikrarlı ve yenilikçi çözümler ile iletişim stratejisinizi tasarlıyoruz. </p>
        </article>
      </div>


      <!--  Ana sayfa Boşluklar ve renkler -->
      <style>
        .page .services .row {
          width: 100%;
        }

        .halklailiskiler {

          /* margin-top: -25rem; */
        }

        .baski .small {
          font-size: 30px;

        }

        .icon img {
          padding: 15px;

        }
      </style>

      <div class="col-lg-12">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services " data-letter="a">
          <div class="container">
            <!-- 
              <div class="section-title">
                <h2>Lorem, ipsum dolor.</h2>
              </div> -->

            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"> <i><img src="{% static 'assets/img/icons/contact.svg' %}" alt=""></i> </div>
                <h4 class="title"><a href="">Kurumsal İletişim </a></h4>
                <p class="description">Yeni Medya alanın'da kurum kimliğinizi inşaa ederek gelecek için marka
                  prestijini arttırıyoruz.</p>
              </div>

              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i><img src="{% static 'assets/img/icons/design.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Etkinlik Tasarımı </a></h4>
                <p class="description">Marka imajınıza uygun etkinlikler tasarlayarak ,
                  müşteri sadakati yaratımında destek oluyoruz.
                  Hep akılda kalan siz olacaksınız.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i><img src="{% static 'assets/img/icons/social-media.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Sosyal Medya Yönetimi</a></h4>
                <p class="description">Kurum Dışı iletişiminize destek olup :
                  en sağlıklı ve doğru diyalogları gerçekleştiriyoruz.</p>
              </div>



            </div>

            <video width="100%" height="100%" muted autoplay loop>
              <source src=" {% static 'video/02.CMY AJANS REKLAM FİLMİ.mp4' %}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </section><!-- End Services Section -->
      </div>
    </div>



  </section>
  <section class="section  section2 color2" style="height: 330vh;" data-letter="p">

    <div style="width: 100%;" class="row">
      <div class="col-lg-12 article2">


        <div class="col-md-1"></div>
        <article class="section__wrapper col-md-8">
          <!-- <h1 class="section__title" style="color:white;    font-size: 58px;">Markanız </h1> -->
          <h1 class="section__title" style="color:black;">DİJİTAL VİZYON</h1>
          <p class="col-md-7" style="color: white;font-weight: 500;font-size: 18px;"> Değişmeyen tek şey değişimdir
            mottosundan feyz alıp ,
            dijital platformlarda marka itibarınızı arttırmak ve kar oranınızı yükseltmek için
            ürün ve hizmetlerinizi talep edilen hale getiriyoruz.</p>
        </article>
        </a>
      </div>

      <div class="col-lg-12">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services" style="margin-top: 30rem;padding-top: 10rem;" data-letter="a">
          <div class="container">
            <!-- 
              <div class="section-title">
                <h2>Lorem, ipsum dolor.</h2>
              </div> -->

            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i><img src="{% static 'assets/img/icons/online-advertisement.svg' %}" alt=""></i>
                </div>
                <h4 class="title"><a href="">Reklam Filmi</a></h4>
                <p class="description">Hikayenizi en doğru biçimde anlatarak , işlevsel hale getiriyoruz.
                  En uygun bütçeyi kullanarak , Görüntü tasarımı- Oyuncu yönetimi ve teknik hizmetleri vererek
                  izleyicinin ürüne olan algısını oluşturacak görsel dili yaratıyoruz.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i><img src="{% static 'assets/img/icons/responsive-design.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Web Tasarım</a></h4>
                <p class="description">Sizin kurallarınızla Dijital Dünyanızı inşaa ediyoruz.
                  Kurumsal veya Kişisel sitenizi tasarlayarak kimliğinizi
                  daha ikna edici ve fark yaratacak hale getiriyoruz. </p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i><img src="{% static 'assets/img/icons/design.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Grafik Tasarım Hizmeti </a></h4>
                <p class="description">Görmek en önemli duyumuzdur ve bizde
                  Zihinlerde sizin kimliğinizle özleşecek simgeleri tasarlıyoruz.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                <div class="icon"><i><img src="{% static 'assets/img/icons/partnership.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Viral İçerikler ve İnfluencer işbrilikleri </a></h4>
                <p class="description">Markanızın sunduğu hizmet ve ürünlere uygun konseptler geliştirerek
                  bu stratejiyi daha geniş kitlelere hızlı bir şekilde yaymak adına
                  dijital içerik üreticileri ile iletişim sağlıyoruz</p>
              </div>
            </div>

            <video width="100%" height="100%" muted autoplay loop>
              <source src="{%  static 'video/02.CMY AJANS REKLAM FİLMİ.mp4'%}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </section><!-- End Services Section -->
      </div>
    </div>





  </section>
  <section class="section color3 section3" data-letter="q">

    <div style="width: 100%;" class="row">
      <div class="col-lg-12 article3">
        <div class="col-md-1"></div>
        <a href="galeri/medya/27.htm">
          <article class="section__wrapper col-md-8">
            <h1 class="section__title" style="color:white;    font-size: 60px;">Medya Planlamada </h1>
            <h1 class="section__title" style="color:black;        font-size: 67px;"> HEDEFİ 12'DEN VUR</h1>
            <p class="col-md-12" style="color: white;font-weight: 500;font-size: 18px;">İhtiyaçlarınıza en doğru
              şekilde
              cevab verecek stratejiyi tasarlayıp ,
              medya planlamanızı gerçekleştiriyoruz.</p>
          </article>
        </a>
      </div>

      <div class="col-lg-12">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services " data-letter="a">
          <div class="container">

            <!-- <div class="section-title">
                <h2>TV</h2>
              </div> -->

            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i><img src="{% static 'assets/img/icons/smart-tv.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">TV</a></h4>
                <p class="description">
                  Mesajınızı ,en doğru zamanda, en uygun fiyata , yüzlerce kanal arasında
                  kaybolmadan net ve sonuç odaklı bir şekilde hedef kitlenize ulaştırıyoruz.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i><img src="{% static 'assets/img/icons/radio.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">RADYO </a></h4>
                <p class="description">
                  Sesinizi , yenilikçi söylemler ile geniş kitleler ile buluşturuyoruz.
                  Yolda, evde, kafede... Marka isminiz hep kulaklarda.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i><img src="{% static 'assets/img/icons/blueprint.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">İÇ & DIŞ MEKAN TASARIMI</a></h4>
                <p class="description">Açık hava ve kapalı mekanlar için medya planlama ve medya satın alma
                  stratejinizi tasarlıyarak
                  günlük hayatta hedef kitlenizle buluşmanızı sağlıyoruz.
                  Billboard, özel uygulama billboard, megaboard, CLP, duvarlar,
                  AVM’ler, toplu taşıma araçları ve diğer tüm reklam ünitesi çözümleriyle markanızı bir adım öne
                  çıkarıyoruz.</p>
              </div>
            </div>

            <video width="100%" height="100%" muted autoplay loop>
              <source src="{%  static 'video/02.CMY AJANS REKLAM FİLMİ.mp4'%}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </section><!-- End Services Section -->
      </div>
    </div>

  </section>

  <section class="section color4 section4" data-letter="e" style="height: 295vh;">

    <div style="width: 100%;" class="row baski">
      <div class="col-lg-12 article4">
        <div class="col-md-1"></div>
        <a href="galeri/mecra/28">
          <article class="section__wrapper col-md-8">
            <h1 class="section__title small" style="color:white;">BASKI TEKNOLOJİLERİN'DE </h1>
            <h1 class="section__title" style="color:black;">YÜKSEK KALİTE</h1>
            <p class="col-md-7" style="color: white;font-weight: 500;font-size: 18px;">Güncel teknolojiye sahip
              dijital
              baskı donanımlarıyla, tüm renk uzayı hizmetinizde. </p>
          </article>
        </a>
      </div>

      <div class="col-lg-12">
        <!-- ======= Services Section ======= -->
        <section id="services" class="services " data-letter="a" style="padding-top: 19rem; margin-top: 13rem;">
          <div class="container">

            <!-- <div class="section-title">
                <h2>Lorem, ipsum dolor.</h2>
              </div> -->

            <div class="row">
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                <div class="icon"><i><img src="{% static 'assets/img/icons/suit.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Kurumsal Ürünler</a></h4>
                <p class="description">
                  Kurumsal baskı ürünleri, firmaların markalarını öne çıkarmaları ve
                  diğer firmalara karşı olan görünümlerini iyileştirmeleri açısından oldukça kritiktir.
                  Kartvizit, Antetli Kağıt, Rulo, Diplomat Zarfı, Kaşe,
                  Torba Zarf, Cepli Dosya, Kağıt Dosya ve Katalog gibi ürün hizmetlerini
                  uygun fiyat ve yüksek kaliteyi gözeterek size sunmaktayız.</p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i><img src="{% static 'assets/img/icons/online-advertisement.svg' %}" alt=""></i>
                </div>
                <h4 class="title"><a href=""> Reklam Ürünleri</a></h4>
                <p class="description">Firmanızın tanıtımını güçlendirmek ve daha fazla müşteriye ulaşmak için baskılı
                  reklam ürünlerini büyük öneme sahiptir.
                  El ilanı, Katolog , Afiş, Magnet ,Pano , Tabela ve Etiket gibi onlarca yelpazeden oluşan ürünleri
                  firmanızı büyük kitlelere
                  tanıtmak için kullanıma hazır hale getiriyoruz.
                  Spesifik olarak olarak hizmet sunduğunuz alana en ideal materyalleri sizlere ulaştırıyoruz.

                </p>
              </div>
              <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                <div class="icon"><i><img src="{% static 'assets/img/icons/job-promotion.svg' %}" alt=""></i></div>
                <h4 class="title"><a href="">Promosyon Matbaa Ürünleri</a></h4>
                <p class="description">Promosyon ürünleri, şirketlerin bilinirliklerini ve aynı zamanda müşterilerinin
                  memnuniyetini arttırmak için kullanılan
                  en etkili baskılı reklam araçlarından biridir. Takvim ve Ajanda , Kitap Ayracı ,Karton Çanta , Kupa
                  , Bloknot ve daha
                  bir çok ürünü sunduğunuz içerikle uygun hale getiriyoruz.</p>
              </div>

            </div>

            <video width="100%" height="100%" muted autoplay loop>
              <source src="{%  static 'video/02.CMY AJANS REKLAM FİLMİ.mp4'%}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          </div>
        </section><!-- End Services Section -->
      </div>
    </div>

  </section>


</div>

<!--
  --------------------------------------------------------------
  Bu site Oref Tasarım tarafından geliştirilmiştir üçüncü kişilerle paylaşılamaz.

  ferhattugrul.online  oref.tasarim@gmail.com
  --------------------------------------------------------------    
  -->

{% endblock body %}